<div class="row">
  <div class="col-md-5 col-md-offset-4 center">
    <h1>More Joy, Less Stuff</h1>
    <p>Post a pic of your unused stuff & shop for what you need.</p>

    <p>Available for iOS and Android</p>
    <p><%= link_to "Get the App", "#", class:"btn btn-default" %></p>
  </div>
</div>

<p>"Discard everything that does not give you joy."</p>
<h6>MARIE KONDO</h6>

<h3>How It Works</h3>

<h3>Post a pic</h3>
  <p>Post a pic of stuff you once loved but don't need anymore. Check your closet, garage, or kitchen - you'll find plenty of sthings that someone else could use.</p>

<h3>Let it go</h3>
  <p>Ship your item to its new home. We provide pre-paid UPS shipping labels to make it easy. Anything under 10lbs can be shipped on Yerdle.</p>

<h3>Get what you need</h3>
  <p>By giving your stuff on Yerdle, you earn Yerdle Reuse Dollars. Use your Yerdle Dollars to get anything you want in the Yerdle store, without spending cash.</p>

<div class="center landing_color">
  <h3>RECENTLY FEATURED IN</h3>
    <p>Fast Company * USA Today * Time * Business Insider * The New York Times * SFGate</p>
</div>
<div class="center">
  <h2>Available Now</h2>
    <p>For iOS and Android. Get the app.</p>
    <p>Downoad on the App Store * Get it on Google play</p>
</div>
