<h1>Yerdle Home page</h1>
<p>More Joy, Less Stuff</p>
Post a pic of your unused stuff & shop for what you need.

<p>Get Started</p>

<p>Available for iOS and Android</p>

<p>"Discard everything that does not give you joy."</p>
<h4>MARIE KONDO</h4>

<p>How It Works</p>


<p></p>
<h4>Post a pic of stuff you once loved but don't need anymore. Check your closet, garage, or kitchen - you'll find plenty of sthings that someone else could use.</h4>

<p>Let it go</p>
<h4>Ship your item to its new home. We provide pre-paid UPS shipping labels to make it easy. Anything under 10lbs can be shipped on Yerdle.</h4>

<p>Get what you need</p>
<h4>By giving your stuff on Yerdle, you earn Yerdle Reuse Dollars. Use your Yerdle Dollars to get anything you want in the Yerdle store, without spending cash.</h4>

<p>RECENTLY FEATURED IN</p>

<p>Available Now</p>
<h4>For iOS and Android. Get the app.</h4>
