<div class="container">
  <h1>Mission</h1>
  <p>Our mission is to reduce the number of new things we all have to buy by 25%.

  Our relationship with stuff is broken. We all feel overwhelmed by our clutter, even as we race along the treadmill of buying more stuff.

  We need to make a change.

  At Yerdle, we want to redefine the word “mine.” We want to let go of our attachment to things we almost never use. We want to change the way we think about our belongings in the context of a finite planet, busy lives, and better uses for our hard-earned dollars.

  Yerdle’s mission is to reduce the number of new things we all need to buy by 25%.

  We formed ourselves as a California Benefit Corporation, so that our mission is written into our legal charter and nothing can stop us on our path towards completing our mission.

  Almost everyone has stuff they’re not using that's ready for its next adventure. We make it easy to give your item to someone who needs it.

  People give tens of thousands of items on Yerdle each month. Over 200,000 items so far.

  Join us.</p>
</div>
